# Data
depmap_data/
*.csv
*.zip

# Visualizations
*.png
*.jpg
*.pdf
Research_STP/outputs/

# Drafts and Reports (Local Only)
Research_STP/drafts/

# LaTeX Aux
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Python
__pycache__/
.venv/
.env

# OS
.DS_Store
